#DTL-T10000 System Configuration File  T10000.scf
# 
[SPDIF] 	ON   	# ON OFF
[ASPECT]	4:3     	# 4:3 FULL 16:9  
[LANGUAGE]	English        # Japanese English French Spanish German Italian Dutch Portuguese
[TIMEZONE] 	0     		# from -720 to 780
[SUMMERTIME] 	ON      	# ON OFF   
[TIMENOTATION] 	24HOUR      	# 24HOUR 12HOUR  
[DATENOTATION] 	YYYY/MM/DD 	# YYYY/MM/DD MM/DD/YYYY DD/MM/YYYY
